footer {
  box-sizing: border-box;
  background-color: var(--azul_inter);
  padding: 3% 10% 0% 10%;
}

footer section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.contenedor-enlaces {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  text-align: center;
  color: white;
}

.contenedor-enlaces div {
  padding: 0px 7.5px;
}

.contenedor-enlaces h4 {
  font-size: 16px;
  margin-bottom: 15px;
}

.contenedor-enlaces li {
  margin: 10px 0px;
  font-size: 12px;
  font-weight: 600;
}

.contenedor-enlaces a {
  color: white;
}

.iconos-contenedor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 15px;
  padding: 0px !important;
}

.icono-circulo {
  padding: 0px !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: rgb(52, 85, 122);
  transition: transform 0.3s ease;
  box-sizing: border-box;
}

.icono-circulo:hover {
  cursor: pointer;
  transform: scale(1.15);
}

#app {
  justify-content: center !important;
}

#app .icono-circulo {
  margin: 0px 8px;
}

.copy {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy span {
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

@media (max-width: 999px) {
  footer {
    padding: 3% 5% 0% 5%;
  }

  .iconos-contenedor {
    justify-content: center;
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .contenedor-enlaces {
    grid-template-columns: 100%; /* Una sola columna */
    grid-template-rows: repeat(4, auto); /* Cuatro filas */
  }

  .iconos-contenedor {
    border-bottom: none !important;
    gap: 10px;
  }

  .contenedor-enlaces div {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 3%;
  }
}
