.barra-media {
  background-color: var(--azul);
  height: 80px;
  padding: 0 5%;
}

.grilla {
  height: inherit;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto auto 7fr 4fr;
  gap: 20px;
}

.grilla img {
  cursor: pointer;
}

.grilla form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0px 10px;
}

.grilla input {
  width: 90%;
  border: 1px solid #99b5dc;
  border-radius: 48px;
  font-size: 16px;
  padding: 14px;
}

.grilla input:focus {
  outline: none;
  border: 1px solid #36a9e1;
}

.grilla input::placeholder {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}

.grilla input:placeholder-shown {
  text-overflow: ellipsis;
}

#lupa {
  position: absolute;
  right: 5%;
  display: flex;
  opacity: 0;
}

#flecha {
  position: absolute;
  right: 3.5%;
  background-color: #36a9e1;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 11px;
  opacity: 0;
}

#lupa.active {
  opacity: 1;
}

#flecha.active {
  opacity: 1;
}

.grilla nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.grilla nav a {
  color: white;
  font-size: 14px !important;
  text-decoration: none;
  transition: 3ms ease;
}

@media (max-width: 767px) {
  .barra-media {
    height: 60px;
  }

  .grilla input {
    padding: 10px;
  }

  .grilla form a {
    right: 2%;
    padding: 7px;
  }

  .grilla nav a {
    display: none;
  }
}
