#backdrop {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

#backdrop.show {
  display: block;
}

#hamburger_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100vh;
  max-height: 100vh !important;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  border: none;
  z-index: 2;
  background-color: #fff;
  overflow-y: auto;
}

#hamburger_modal.show {
  transform: translateX(0);
  transition: transform 0.5s ease;
}

#hamburger_modal header {
  background-color: var(--azul);
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#btn_cerrar {
  transform: rotate(0deg);
  transition: transform 0.5s ease;
}

#btn_cerrar:hover {
  cursor: pointer;
  transform: rotate(30deg);
  transition: transform 0.5s ease;
}

.modal_nav {
  padding: 24px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal_nav li {
  list-style: none;
  height: 48px;
  border-radius: 4px;
  padding: 0 24px;
}

.modal_nav li a {
  height: inherit;
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
  font-weight: 600;
  gap: 8px;
}

.modal_nav li a:focus {
  outline: none;
}

.modal_nav li:first-child {
  background-color: #f2f2f2;
}

.modal_nav li:first-child a {
  justify-content: space-between;
}

@media (max-width: 380px) {
  #hamburger_modal {
    width: 100%;
    height: 100%;
    font-size: 14px;
  }
}
