.carousel {
  margin: 48px auto 12px auto;
  position: relative;
  overflow-x: hidden;
}

.nov {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: #34495e;
  margin-bottom: 1.5%;
}

.carousel-container {
  width: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.5s ease;
}

.product {
  flex: 0 0 20%;
  padding: 12px;
  height: 350px;
  box-sizing: border-box;
  background-color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.product:hover {
  cursor: pointer;
}

.product > img {
  width: 168px;
  align-self: center;
}

.product h5 {
  margin: 5% 0;
  padding: 0 10%;
  font-weight: 500;
  color: #333;
}

.product div {
  margin-bottom: 5%;
}

.product div > :first-child {
  color: #333;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 2.5%;
}

.product div img {
  aspect-ratio: 24/19;
  width: 20px;
  height: 15.833px;
}

.prod-farma-wrap {
  display: flex;
  justify-content: center;
  color: #eb0a00;
  font-size: 14px;
}

.farma-span {
  font-weight: 600;
}

.product button {
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 8px;
  padding: 7px 2px;
  width: 100%;
  background-color: var(--azul);
  border: none;
}

.product button:hover {
  background-color: var(--azul_inter);
  cursor: pointer;
}

.prev,
.next {
  position: absolute;
  font-size: 22px;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: var(--azul);
  cursor: pointer;
  border: none;
  z-index: 1;
  transition: transform 0.3s ease;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.prev:hover,
.next:hover {
  color: black;
  transform: translateY(-50%) scale(1.2);
}

@media (max-width: 767px) {
  .product {
    flex: 0 0 33.33%;
  }
}
@media (max-width: 650px) {
  .product {
    flex: 0 0 50%;
  }
}
