.slider {
  width: 100%;
  margin: 24px auto;
  overflow-x: hidden;
}

.slider-container {
  display: flex;
  transition: transform 1.5s ease-in-out;
}

.slide {
  flex: 0 0 calc((100% - 24px) / 3); /*24 por los margenes*/
  margin-right: 4px;
  margin-left: 4px;
  height: 200px;
  border-radius: 8px;
  box-sizing: border-box;
}

@media (max-width: 425px) {
  .slide {
    flex: 0 0 calc((100% - 8px)); /*8 por margenes*/
  }
}
