main {
  padding: 24px;
}

.grid-col {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 24px;
  height: 100vh;
}

.col1,
.col2,
.col3 {
  display: grid;
  gap: 24px;
}

.col1 {
  grid-template-rows: 4fr 9fr 3fr;
}

.col2 {
  grid-template-rows: 8fr 5fr 3fr;
}

.col3 {
  grid-template-rows: 0.228fr 0.228fr 0.544fr;
}

.row1,
.row2,
.row3 {
  border-radius: 0.75rem;
}
