.grid-col {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 24px;
  height: 150vh;
}

.col1,
.col2,
.col3 {
  display: grid;
  gap: 24px;
}

.col1 {
  grid-template-rows: 5fr 7fr 4fr;
}

.col2 {
  grid-template-rows: 8fr 5fr 3fr;
}

.col3 {
  grid-template-rows: 3fr 3fr 4fr;
}

.col1 .row3,
.col3 .row3,
.row1,
.row2 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.col1 .row1 {
  background-image: url(/Media/Img/Categorías/Categoría1.webp);
}
.col1 .row2 {
  background-image: url(/Media/Img/Categorías/Categoría3.webp);
}
.col1 .row3 {
  background-image: url(/Media/Img/Categorías/Categoría2.webp);
}

.col3 .row1 {
  background-image: url(/Media/Img/Categorías/Categoría4.webp);
}
.col3 .row2 {
  background-image: url(/Media/Img/Categorías/Categoría5.webp);
}
.col3 .row3 {
  background-image: url(/Media/Img/Categorías/Categoría6.webp);
}

.col2 .row1 {
  background-image: url(/Media/Img/Modelo1.jpg);
}

.col2 .row2 {
  background-image: url(/Media/Img/Modelo3.webp);
}

.col2 .row3 {
  padding: 4% 5%;
  font-size: 1.5rem;
  background: linear-gradient(to right, #fab89c, #eccfbb);
  color: #201f1e;
}

.left {
  padding-right: 4%;
  height: 100%;
  align-content: center;
}

.der {
  align-content: center;
  height: 100%;
  border-left: 1px solid rgba(32, 31, 30, 0.8);
  padding-left: 4%;
}
.row1,
.row2,
.row3 {
  position: relative;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row1 span,
.row2 span,
.col1 .row3 span,
.col3 .row3 span {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  visibility: hidden;
  transform: translateY(-10px);
  transition: transform 0.3s ease, visibility 0s 0.5s;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease;
  border-radius: 0.75rem;
}

.col1 div:hover,
.col3 div:hover {
  cursor: pointer;
}
.col1 div:hover .background,
.col3 div:hover .background {
  background-color: rgba(0, 0, 0, 0.75);
}
.col1 div:hover span,
.col3 div:hover span {
  transform: translateY(0);
  visibility: visible;
  transition: transform 0.5s ease;
}

.perfume-section {
  width: 100%;
  align-self: start;
  padding: 5% 0 0 5%;
}

.perfume-section p {
  font-size: 1.2rem;
}
.perfume-section h2 {
  margin: 2% 0;
  font-size: 2.5rem;
}
.perfume-section button {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  font-size: 1rem;
}

@media (max-width: 767px) {
  .grid-col {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr 2fr;
    gap: 16px;
    height: 200vh;
  }

  .col1,
  .col2,
  .col3 {
    gap: 16px;
  }

  .col1 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr;
  }

  .col1 .row1 {
    grid-column: 1;
    grid-row: 1;
  }
  .col1 .row2 {
    grid-column: 1;
    grid-row: 2;
  }
  .col1 .row3 {
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  .col2 {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 3fr 3fr;
  }

  .col3 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 3fr;
  }

  .col3 .row1 {
    grid-column: 1;
    grid-row: 1 / span 2;
  }
  .col3 .row2 {
    grid-column: 2;
    grid-row: 1;
  }
  .col3 .row3 {
    grid-column: 2;
    grid-row: 2;
  }
}
